html {
        --bg-1: #fff;
        --bg-2: #e0e6eb;
        --bg-3: #c2cdd6;
        --sh-1: #13131333;
        --fg-1: #212121;
        --fg-2: #4d4d4d;
        --link: #1c7ed4;
        --link-hover: #3492e5;
        --link-active: #176bb5
}

@media (prefers-color-scheme: dark) {
    html {
        --bg-1: #2e2e2ecc;
        --bg-2: #4d4d4dcc;
        --bg-3: #666c;
        --sh-1: #13131388;
        --fg-1: #e6e6e6;
        --fg-2: #b3b3b3;
        --fg-3: #999;
        --link: #73c1fc;
        --link-hover: #91cefd;
        --link-active: #4baffb
    }
}

body {
    --border-radius: 2px;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    background-image: url("assets/images/tahoe.jpeg");
    background-color: #131313;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--fg-1);
    font-family: var(--font);
    height: calc(100vh - 2rem);
    margin: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant-numeric: tabular-nums;
    font-weight: 400;
    line-height: 1.1
}

:is(h1, h2, h3, h4, h5, h6, p) {
    margin: 1rem .1rem
}

label {
    margin: .5rem .1rem
}

:is(h1, h2, h3, h4, h5, h6, p, label):first-child {
    margin-top: 0
}

:is(h1, h2, h3, h4, h5, h6, p, label):last-child {
    margin-bottom: 0
}

a {
    color: var(--link)
}

a:hover {
    color: var(--link-hover)
}

a:active {
    color: var(--link-active)
}

label {
    align-items: center;
    gap: .5rem;
    display: flex
}

label input {
    margin: 0
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit
}

button {
    background: var(--link);
    color: var(--bg-1);
    border-radius: var(--border-radius);
    border: none;
    padding: .5rem 1rem
}

button:hover {
    background: var(--link-hover)
}

button:active {
    background: var(--link-active)
}

:is(button, button:hover, button:active):disabled {
    background: var(--link);
    filter: grayscale();
    opacity: .4
}

input,
textarea,
select {
    border: 1px solid var(--bg-2);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: .5rem
}

input,
textarea {
    background: var(--bg-1);
    color: inherit
}

select:not([multiple]) {
    background: var(--bg-2)
}

textarea {
    font-family: var(--font-mono);
    font-size: .9rem
}

form {
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    display: flex
}

ul:has(li):has(form) {
    padding: 0;
    list-style: none
}

li form {
    flex-direction: row;
    gap: .5rem;
    margin: .5rem 0
}

main {
    background: var(--bg-1);
    z-index: 2;
    border-radius: var(--border-radius);
    gap: 1em;
    padding: 1em;
    border: 1px solid var(--bg-3);
    box-shadow: 0 0 24px var(--sh-1);
    backdrop-filter: blur(10px);

    max-width: 800px;
    margin: auto;
}

nav {
    background: var(--bg-2);
    z-index: 2;
    border-radius: var(--border-radius);
    gap: 1em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    max-width: 800px;
    display: flex;
    position: relative;
    border: 1px solid var(--bg-3);
    box-shadow: 0 0 24px var(--sh-1);
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none
}

nav a[aria-current=true] {
    border-bottom: 2px solid
}

nav aside {
    margin-left: auto;
}

footer {
    background: var(--bg-1);
    z-index: 2;
    border-radius: var(--border-radius);
    gap: 1em;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    max-width: 800px;
    display: flex;
    position: relative;
    border: 1px solid var(--bg-3);
    box-shadow: 0 0 24px var(--sh-1);
    backdrop-filter: blur(10px);
}

footer a {
    text-decoration: none
}

footer a[aria-current=true] {
    border-bottom: 2px solid
}

footer aside {
    margin-left: auto;
}

ul:has(form) {
    padding: 0;
    list-style: none
}

progress {
    margin: .5rem 0
}

progress:first-child {
    margin-top: 0
}

progress:last-child {
    margin-bottom: 0
}

.error {
    color: red
}

code {
    background: var(--bg-2);
    font-family: var(--font-mono);
    border-radius: var(--border-radius);
    padding: .15rem .3rem;
    font-size: .9em
}

.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    background: var(--bg-1);
    z-index: 3;
    border-radius: var(--border-radius);
    gap: 1em;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    max-width: 800px;
    position: relative;
    border: 1px solid var(--bg-3);
    box-shadow: 0 0 24px var(--sh-1);
    backdrop-filter: blur(10px);
}